.info-box,
.info-content {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.info-content {
  border: none;
  margin-top: 0px;
}

h2 {
  margin-left: 10px;
  text-decoration: underline;
}

label {
  margin-left: 10px;
}

input {
  width: 400px;
  height: 22px;
  margin: 10px 0px 10px 10px;
}

button {
  width: 100px;
  height: 30px;
  margin: 10px 0px 10px 10px;
  border-radius: 4px;
}

.info-box p {
  margin-left: 10px;
}
